<div class="container">

 <div class="description">
    <h1>Add Nick name</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
 </div>

 <div class="nick-name">
    <label>Nick name</label>
    <input type="text" placeholder="EX:name">
 </div>

 <div>
    <button>Save</button>
 </div>

</div>