<div class="bg"></div>
<div class="flipper" #flipper>
  <div class="front" #frontImage>
    <div class="control">
      <!-- <svg stroke="#fff" stroke-linecap="round">
        <g class="stage">
          <rect width="100%" height="100%" fill="rgba(0,0,0,0)" stroke="none" />
        </g>
        <g class="toggle" style="cursor: pointer; user-select: none">
          <path d="M100,20 118,20" stroke-width="25" />
          <path
            class="knob"
            d="M100,20 100,20"
            stroke-width="20"
            stroke="#000"
            (click)="onClickPath()"
          />
          <text class="txt1" fill="#fff" x="11" y="26" (click)="toggleAuto()">
            Manual
          </text>
          <text
            class="txt2"
            fill="#fff"
            x="144"
            y="26"
            opacity="0.3"
            (click)="toggleAuto()"
          >
            Auto
          </text>
        </g>
      </svg> -->

      <div
        class="collage-container"
        [ngStyle]="{
          'grid-template-columns':
            'repeat(' + gridColumns + ', ' + tileSize + 'px)',
          position: 'relative'
        }"
      >
        <div
          *ngFor="let tile of grid; let i = index"
          [ngStyle]="{
            'width.px': tileSize,
            'height.px': tileSize,
            'background-image': tile.image ? 'url(' + tile.image + ')' : '',
            'background-color': tile.image ? 'transparent' : tile.block
          }"
          class="collage-tile"
          [ngClass]="{ captured: tile.image }"
        ></div>
      </div>
    </div>
    <!-- <input
      #fileInput
      type="file"
      style="display: none"
      (change)="onFileSelected($event)"
    /> -->

    <!-- <button (click)="animateNextTile()">Animate Next Tile</button> -->
  </div>
  <div class="back" #backImage>
    <div class="dubai-police-container">
      <img src="assets/dubai-police-logo.jpg" alt="Back Image" />
    </div>
  </div>
</div>
