<div
  class="collage-container"
  [ngStyle]="{
    'grid-template-columns': 'repeat(' + gridColumns + ', ' + tileSize + 'px)',
    position: 'relative'
  }"
>
  <div
    *ngFor="let tile of grid; let i = index"
    [ngStyle]="{
      'width.px': tileSize,
      'height.px': tileSize,
      'background-image': tile.image ? 'url(' + tile.image + ')' : '',
      'background-color': tile.image ? 'transparent' : tile.block
    }"
    class="collage-tile"
    [ngClass]="{ captured: tile.visible }"
  ></div>
</div>

<!-- <button (click)="animateNextTile()">Animate Next Tile</button> -->
