<div class="container">
  <div class="input-numbers">
      <div class="description">
        <h1>Authentication Code</h1>
        <p>Emter the 5-digit code we just texted to your phone number,</p>
      </div>

      <div style="width: 100%;">
        <input
          *ngFor="let box of boxes; let i = index"
          type="text"
          maxlength="1"
          id="input-{{ i }}"
          [(ngModel)]="code[i]"
          (keydown)="onInputChange(i, $event)"
          class="digits"
        />
      </div>

    <div>
      <p>Didn't receive a code?</p>
    </div>
  </div>

  <button 
    [disabled]="isButtonDisabled" 
    [ngStyle]="{ 'background-color': isButtonDisabled ? 'rgb(230, 96, 0, 37%)' : '' }"
    (click)="navigateToCollage()"
  >
    Continue
  </button>
</div>
