:root {
  --border-radius-primary: 4px;
  --primary-color: #f17100;;
  --grey-color: #9c9c9c;
  --size-one: 1.2rem;
  --size-two: 1rem;
  --size-three: 0.8rem;
  /* --grey-color: #9c9c9c;
  --grey-color-secondary: #d2d2d2;

  --grey-background: #f1f1f1;
  --grey-background-secondary: #FBFBFB;
  --grey-borders: #edededb0;

  --light-green-thin: #E7FFD9;
  --light-aqua-thin: #D7F7FF;
  --sections-padding: 25px;
  --box-shadow-primary:4px 8px 9px -9px rgba(0,0,0,1); */
}


