canvas {
  width: 100%;
  height: auto;
  display: block; /* Ensures the canvas is a block element */
}
/* .collage-container {
  display: grid;
  gap: 1px;
  justify-content: center;
  z-index: 30999;
} */
